.judul h3 {
    display: flex;
    padding: 0 20px;
}

.judul span {
    font-style: italic;
}
.i {
    display: flex;
}
.i span {
    font-style: italic;
}

/* sintax */
.isi p {
    text-align: justify;
}

.isi th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    font-size: 16px;
}
table th {
    background-color: #16a085;
    color: #ffffff;
}
.table {
    display: flex;
    justify-content: center;
}

.leedohyun {
    display: flex;
}

video {
    
    justify-content: center;
    padding-left: 17rem;
    
}

audio {
    justify-content: left;
    padding-left: 28rem;
}
.model p {
    text-align: justify;
}

.model ul {
    text-align: justify;
}

.model p, ol {
    border-style: outset;
    border-color: #ffffff;
    padding-inline: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}